<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue example</title>
    <style type="text/css">
	input[type=text] {
		width: 5em;
	}
	input[type=text]:disabled {
		-webkit-text-fill-color: rgba(0,0,0,1);
		-webkit-opacity: 1;
		background: #fff;
		border: none;
	}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js"></script>
</head>
<body id="app">
<ul>
    <li><a href="index.html">index</a></li>
    <li><a href="setSelectionRange.html">setSelectionRange</a></li>
    <li><a href="setFocus.html">just setFocus</a></li>
    <li><a href="vueExample.html">vue example</a></li>
</ul>

<h2 style="color: #AA074B">vue example</h2>
<div style="height: 350px; background-color: #efefef"><p>Lorem ipsum...</p><p>Lorem ipsum...</p><p>Lorem ipsum...</p></div>
<h2 style="color: #AA074B">vue example</h2>
<div style="height: 350px; background-color: #efefef"><p>Lorem ipsum...</p><p>Lorem ipsum...</p><p>Lorem ipsum...</p></div>
<h2 style="color: #AA074B">vue example</h2>

<div>
    <input value="{{weight + 'kg'}}"
           type="text"
           inputmode="numeric"
           v-el:pax-weight
           v-on:keyup.enter="saveEdit"
           v-on:keyup.esc="leaveEditMode"
           min="0" step="1" pattern="[0-9]*"
           title="Non-negative integral number"
	   disabled="true"
    >
    <div v-if="show" style="display: inline">
	   <button class="btn btn-xs btn-default ml-20" @click="enterEditMode">Edit</button>
    </div>
</div>
<div v-if="!show">
    <button class="btn btn-xs btn-default" @click="saveEdit">Save</button> <button class="btn btn-xs btn-default" @click="leaveEditMode">Cancel</button>
</div>


<h2 style="color: #AA074B">vue example</h2>
<div style="height: 350px; background-color: #efefef"><p>Lorem ipsum...</p><p>Lorem ipsum...</p><p>Lorem ipsum...</p></div>
<h2 style="color: #AA074B">vue example</h2>
<div style="height: 350px; background-color: #efefef"><p>Lorem ipsum...</p><p>Lorem ipsum...</p><p>Lorem ipsum...</p></div>
<h2 style="color: #AA074B">vue example</h2>

<script>
    var vueData = {
        weight: 100,
        show: true
    };

    var vm = new Vue({
        el: '#app',
        data: vueData,

        computed: {
        },

        methods: {
            enterEditMode: function () {
                this.show = false;

                var el = this.$els.paxWeight;
        		el.value = this.weight;
        		el.disabled = false; // needs to be set here - binding is too late
                el.focus();
        		el.setSelectionRange(0,99);
            },
            saveEdit: function() {
        		var el = this.$els.paxWeight;
        		if(!isNaN(el.value)) {
        			this.weight = parseInt(el.value);
    	        }
        		this.leaveEditMode();
            },
    	    leaveEditMode: function(){
        		this.show = true;
        		var el = this.$els.paxWeight;
        		el.value = this.weight + 'kg';
        		el.disabled = true;
    	    }
        }


    });
</script>
</body>
</html>
